@{
    ViewBag.Title = "Confirmação de esquecimento de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, entre no seu email para resetar sua senha.
    </p>
</div>
	
